<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xdroid.loanbox">
    <!-- 使用相机 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 定位所需的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 推送相关的权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- QQ登录所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".app.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.login.LoginActivity">

        </activity>
        <activity android:name=".module.register.RegisterActivity">

        </activity>
        <activity android:name=".module.webview.CustomWebviewActivity"></activity>

        <!--umeng community start-->
        <!-- 友盟App Key, 必须替换为您在友盟官网上申请到的. -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56f2508167e58eab98001e7a" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="4c922f5ef4a3ff7a9a565d6c0f7cf222" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="557e18d1afb32a69351be5abc7f1cd25" />

        <!-- 微博版activity组件 start -->


        <!-- 发现的Activity -->
        <activity
            android:name="com.umeng.comm.ui.activities.FindActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!--  -->
        <activity
            android:name="com.umeng.comm.ui.activities.UserInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!--  -->
        <activity
            android:name="com.umeng.comm.ui.activities.TopicDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!--  -->
        <activity
            android:name="com.umeng.comm.ui.activities.FeedsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!-- 搜索结果Activity -->
        <activity
            android:name="com.umeng.comm.ui.activities.RelativeUserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.umeng.comm.ui.activities.SearchTopicActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"/>

        <!--  -->
        <activity
            android:name="com.umeng.comm.ui.activities.PostFeedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!--  -->
        <activity
            android:name="com.umeng.comm.ui.activities.ForwardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 搜索Activity -->
        <activity
            android:name="com.umeng.comm.ui.activities.SearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!-- feed详情页面 -->
        <activity
            android:name="com.umeng.comm.ui.activities.FeedDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!-- 引导页面activity -->


        <!-- 点赞用户页面 -->
        <activity
            android:name="com.umeng.comm.ui.activities.LikeUsersActivity"
            android:screenOrientation="portrait"/>

        <!-- 显示某个位置Feed的Activity -->
        <activity
            android:name="com.umeng.comm.ui.activities.LocationFeedActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.umeng.comm.ui.activities.GuideActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.umeng.comm.ui.activities.FollowedTopicActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.umeng.comm.ui.activities.NotificationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.umeng.comm.ui.activities.NewMsgActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.umeng.comm.ui.activities.TopicPickActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 微博版activity组件 end -->
        <!-- 图片选择相关 -->
        <activity
            android:name="com.umeng.comm.ui.imagepicker.PhotoSelectorActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.umeng.comm.ui.imagepicker.PhotoPreviewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.umeng.comm.ui.imagepicker.activities.MessageChatActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.umeng.comm.ui.imagepicker.activities.BrowserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <!-- 设置页面activity -->
        <activity
            android:name="com.umeng.comm.ui.imagepicker.activities.SettingActivity"
            android:screenOrientation="portrait"/>

        <!-- 友盟登录界面 -->
        <activity
            android:name="com.umeng.community.login.LoginActivity"
            android:screenOrientation="portrait"/>

        <!-- ##################分享相关#################### -->
        <!-- 分享内容编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize"/>

        <!-- 腾讯SSO授权的Activity注册 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1105140323"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.umeng.comm.ui.imagepicker.activities.AlbumActivity"
            android:screenOrientation="portrait"/>
        <!--图片选择配置-->
        <provider
            android:name="com.werb.pickphotoview.provider.PickProvider"
            android:authorities="com.xdroid.loanbox.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pick_file_paths" />
        </provider>
        <!--umeng community end-->
    </application>


</manifest>